# Fill in for your own validator. Not needed for LocalNet.
DEVNET_HOST=
DEVNET_LEDGER_PORT=5001
DEVNET_HTTP_PORT=7575
DEVNET_JWT_TOKEN=
DEVNET_USER_ID=

TESTNET_HOST=
TESTNET_LEDGER_PORT=5001
TESTNET_HTTP_PORT=7575
TESTNET_JWT_TOKEN=
TESTNET_USER_ID=
